<template>
  <div>
    <h3 class="headline mb-4 mt-12">Your monitored sites</h3>
    <v-card>
      <v-card-text>
        <v-simple-table
          :dark="true"
          :fixed-header="true"
        >
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left">#</th>
              <th class="text-left">Host</th>
              <th class="text-left">Last run on</th>
              <th class="text-right">Uptime</th>
              <th class="text-center">Report</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, key) in sites" :key="item.name">
              <td>{{ key + 1}}</td>
              <td>{{ item.host }}</td>
              <td>
                <template v-if="item.last_run_on">
                  {{item.last_run_on}}
                </template>
                <template v-else>
                  Never
                </template>
              </td>
              <td class="text-right">
                {{item.uptime}} %
                <v-icon v-if="item.uptime == 100" color="green">whatshot</v-icon>
                <v-icon v-else-if="item.uptime > 90" color="yellow">thumb_up</v-icon>
                <v-icon v-else color="red">thumb_down</v-icon>
              </td>
              <td class="text-center">
                <v-btn
                  class="mx-2"
                  fab dark small
                  color="warning"
                  @click="viewReport(item.id)"
                >
                  <v-icon dark>remove_red_eye</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Index",
        data() {
            return {
                sites: []
            }
        },
        mounted() {
            this.getSites();
        },
        methods: {
            getSites() {
                axios.get("/api/sites", this.form)
                    .then(res => {
                        this.sites = res.data;
                    })
                    .catch(err => {
                        this.handleErrors(err.response.data.errors)
                    })
                    .then(() => {
                        this.loading = false
                    })
            },

            viewReport(siteId){
                $router.push({ name: 'reports-view', params: { id: siteId } })
            }

        }
    }
</script>

<style scoped>

</style>
