<template>
  <div>
    <v-btn
      class="my-2"
      depressed
      color="primary"
      @click="back"
    >
      <v-icon dark>arrow_back</v-icon>
      Back
    </v-btn>
    <h3 class="headline mb-4 mt-12">{{site.host}}</h3>

    <v-card
      class="mx-auto text-center"
      color="green"
      dark
      max-width="600"
    >
      <v-card-text>
        <v-sheet color="rgba(0, 0, 0, .12)">
          <v-sparkline
            :value="spark_data"
            color="rgba(255, 255, 255, .7)"
            height="100"
            padding="24"
            stroke-linecap="round"
            smooth
            auto-draw
          >
<!--            <template v-slot:label="item">-->
<!--              <template v-if="item.value==1" >Up</template>-->
<!--              <template v-else>Down</template>-->
<!--            </template>-->
          </v-sparkline>
        </v-sheet>
      </v-card-text>
    </v-card>

    <v-card class="mt-4">
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="statuses"
          sort-by="created_at"
          :sort-desc="true"
          :items-per-page="10"
          :dark="true"
          :fixed-header="true"
        >
          <template v-slot:item="{ item, index }">
            <tr>
              <td>{{ index + 1 }}</td>
              <td>
                <template v-if="item.status">
                  Up
                  <v-icon color="green darken-2">arrow_upward</v-icon>
                </template>
                <template v-else>
                  Down
                  <v-icon color="red darken-2">arrow_downward</v-icon>
                </template>
              </td>
              <td>{{ item.status_code }}</td>
              <td>{{item.created_at}}</td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>

    import BarChart from '../shared/BarChart'

    export default {
        name: "Index",
        components: {
            BarChart
        },
        data() {
            return {
                spark_data:[],
                headers: [
                    {
                        text: '#',
                        align: 'left',
                        sortable: false,
                        value: 'nr',
                    },
                    {text: 'Status', value: 'status'},
                    {text: 'Status code', value: 'status_code'},
                    {text: 'Ran on', value: 'created_at'},
                ],
                site: null,
                statuses: [],
                loaded: false,
            }
        },
        mounted() {
            let siteId = this.$route.params.id;
            this.getSite(siteId);
            this.getStatuses(siteId);
        },
        methods: {
            back() {
                this.$router.go(-1);
            },
            getSite(siteId) {
                $axios.get("/api/sites/" + siteId)
                    .then(res => {
                        this.site = res.data;
                    })
                    .catch(err => {
                        this.handleErrors(err.response.data.errors)
                    })
                    .then(() => {
                        this.loading = false
                    })
            },

            getStatuses(siteId) {
                var uptime = 0;
                var downtime = 0;
                $axios.get("/api/status/" + siteId)
                    .then(res => {
                        for (let item in res.data) {
                            let obj = {
                                nr: 0,
                                status: res.data[item].status,
                                status_code: res.data[item].status_code,
                                created_at: res.data[item].created_at,
                            };
                            // let month = monthNames[new Date(obj.created_at).getMonth()];
                            this.spark_data.push(obj.status);
                            if(obj.status){
                                uptime ++;
                            }else{
                                downtime ++;
                            }
                            this.statuses.push(obj);
                        }
                        uptime = ((uptime * 100)/res.data.length).toFixed(2);
                        downtime = ((downtime * 100)/res.data.length).toFixed(2);
                        this.loaded = true;
                    })
                    .catch(err => {
                        this.handleErrors(err.response.data.errors)
                    })
                    .then(() => {
                        this.loading = false
                    })
            },
        }
    }
</script>
