<template>
  <div>
    <h2 class="mb-4 primary--text headline">{{form.host}}</h2>
    <v-form ref="form" @submit.prevent="submit" lazy-validation v-model="valid">
      <v-card>
        <v-card-text>
          <v-text-field
            label="Site URL"
            v-model="form.host"
            :error-messages="errors.host"
            :rules="[rules.required('host')]"
            :disabled="loading"
            @input="clearErrors('host')"
          ></v-text-field>

          <v-radio-group v-model="form.interval" row>
            <v-radio
              v-for="int in intervals"
              :key="int"
              :label="int/60 + 'h'"
              :value="int"
            ></v-radio>
            <v-radio label="Custom" value="custom"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="form.interval == 'custom'"
            v-model="interval_custom"
            :error-messages="errors.interval"
            :rules="[rules.required('interval')]"
            :disabled="loading"
            @input="clearErrors('interval')"
          ></v-text-field>

          <h4>Custom error triggers - Add new code (ex: 404, 500 etc.)</h4>
          <v-text-field
            v-model="new_error_code"
            :disabled="loading"
            @input="clearErrors('new_error_code')"
            append-icon="save"
            @click:append=""
          ></v-text-field>
          <ul v-if="form.custom_error_codes.length">
            <li v-for="code in form.custom_error_codes">{{code}}</li>
          </ul>
        </v-card-text>
      </v-card>

      <v-layout mt-12 mx-0>
        <v-spacer></v-spacer>

        <v-btn
          text
          :disabled="loading"
          :to="{ name: 'sites' }"
          color="grey darken-2"
          exact
        >
          Cancel
        </v-btn>

        <v-btn
          type="submit"
          :loading="loading"
          :disabled="loading"
          color="primary"
          class="ml-4"
        >
          Save
        </v-btn>
      </v-layout>
    </v-form>
  </div>
</template>

<script>
    import Form from '~/mixins/form'

    export default {
        mixins: [Form],
        data() {
            return {
                form: {
                    host: '',
                    interval: 30,
                    custom_error_codes: []
                },
                intervals: [30, 60, 120, 360, 720, 1440],
                interval_custom: 30,
                loading: false,
                siteId: 0,
                new_error_code: null
            }
        },
        mounted() {
            this.siteId = this.$route.params.id;
            this.getSite(this.siteId);
        },
        methods: {
            getSite(siteId) {
                $axios.get("/api/sites/" + siteId)
                    .then(res => {
                        this.form = res.data;
                        if(this.intervals.indexOf(this.form.interval) < 0){
                            this.interval_custom = res.data.interval;
                            this.form.interval = "custom";
                        }
                    })
                    .catch(err => {
                        this.handleErrors(err.response.data.errors)
                    });
            },

            submit() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.form.interval = this.interval_custom;

                    $axios.put("/api/sites/" + this.siteId, this.form)
                        .then(res => {
                            this.$toast.success('Site updated successfully.')
                            this.$emit('success', res.data)
                        })
                        .catch(err => {
                            this.handleErrors(err.response.data.errors)
                        })
                        .then(() => {
                            this.loading = false
                            this.$router.push({ name: 'sites'});
                        })
                }
            },
        }
    }
</script>

<style scoped>

</style>
