<template>
  <div>
    <v-alert
      v-model="showDismissibleAlert"
      border="left"
      color="error"
      dark
      dismissible
      icon="mdi-clock-fast"
    >
      Sites currently down
      <ul>
        <li v-for="site in sites_down" :key="site">
          {{site.host}} - last check at {{site.last_run_on}}
        </li>
      </ul>
    </v-alert>


    <h2 class="mt-4 mb-4 primary--text headline">Add site to check</h2>
    <v-form ref="form" @submit.prevent="submit" lazy-validation v-model="valid">
      <v-card>
        <v-card-text>
          <v-text-field
            label="Site URL"
            v-model="form.url"
            :error-messages="errors.url"
            :rules="[rules.required('url')]"
            :disabled="loading"
            @input="clearErrors('url')"
          ></v-text-field>

          <v-radio-group v-model="form.interval" row>
            <v-radio label="30 min" :value="30"></v-radio>
            <v-radio label="1h" :value="60"></v-radio>
            <v-radio label="2h" :value="120"></v-radio>
            <v-radio label="6h" :value="360"></v-radio>
            <v-radio label="12h" :value="720"></v-radio>
            <v-radio label="24h" :value="1440"></v-radio>
            <v-radio label="Custom" value="custom"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="form.interval == 'custom'"
            v-model="interval_custom"
            :error-messages="errors.interval"
            :rules="[rules.required('interval')]"
            :disabled="loading"
            @input="clearErrors('interval')"
          ></v-text-field>
        </v-card-text>
      </v-card>

      <v-layout mt-12 mx-0>
        <v-spacer></v-spacer>

        <v-btn
          text
          :disabled="loading"
          :to="{ name: 'profile' }"
          color="grey darken-2"
          exact
        >
          Cancel
        </v-btn>

        <v-btn
          type="submit"
          :loading="loading"
          :disabled="loading"
          color="primary"
          class="ml-4"
        >
          Save
        </v-btn>
      </v-layout>
    </v-form>

    <h3 class="headline mb-4 mt-4">Your monitored sites</h3>
    <v-card>
      <v-card-text>
        <v-simple-table
          :dark="true"
          :fixed-header="true"
        >
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left">#</th>
              <th class="text-left">Host</th>
              <th class="text-left">Interval</th>
              <th class="text-left">Last run on</th>
              <th class="text-left">Push notifications</th>
              <th class="text-left">Active</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, key) in sites" :key="item.name">
              <td>{{ key + 1}}</td>
              <td>{{ item.host }}</td>
              <td>
                <span v-if="item.interval < 60">{{ item.interval }} min</span>
                <span v-else>{{ item.interval / 60 }} h</span>
              </td>
              <td>
                <template v-if="item.last_run_on">
                  {{item.last_run_on}}
                  <v-icon v-if="item.latest_status" color="green">arrow_upward</v-icon>
                  <v-icon v-else color="red">arrow_downward</v-icon>
                </template>
                <template v-else>
                  Never
                </template>
              </td>
              <td>
                <v-switch
                  v-model="item.push_notification"
                  color="success"
                  @change="updateSite(item)"
                ></v-switch>
              </td>
              <td>
                <v-switch
                  v-model="item.active"
                  color="success"
                  @change="updateSite(item)"
                ></v-switch>
              </td>
              <td class="text-center">
                <v-btn
                  class="mx-2"
                  fab dark small
                  color="primary"
                  :loading="loading_check_site[key]"
                  @click="checkSite(item.id, key)"
                >
                  <v-icon dark>autorenew</v-icon>
                </v-btn>
                <v-btn
                  class="mx-2"
                  fab dark small
                  color="warning"
                  :to="'sites/' + item.id"
                >
                  <v-icon dark>format_paint</v-icon>
                </v-btn>
                <v-btn
                  class="mx-2"
                  fab dark small
                  color="error"
                  @click="removeSite(item.id)"
                >
                  <v-icon>cancel</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
    import Form from '~/mixins/form'

    export default {
        name: "Index",
        mixins: [Form],
        data() {
            return {
                form: {
                    url: '',
                    interval: 30
                },
                interval_custom: 30,
                sites: [],
                sites_down: [],
                loading_check_site: [],
                dialog_remove: false,
                showDismissibleAlert: false
            }
        },
        mounted() {
            this.getSites();
        },
        methods: {
            async getSites() {
                await $axios.get("/api/sites", this.form)
                    .then(res => {
                        this.sites = res.data;
                        for (var i = 0; i < Object.keys(this.sites).length; ++i) {
                            this.loading_check_site[i] = false;
                            if (!this.sites[i].latest_status) {
                                this.sites_down.push(this.sites[i]);
                                this.showDismissibleAlert = true;
                            }
                        }
                    })
                    .catch(err => {
                        this.handleErrors(err.response.data.errors)
                    });
            },

            submit() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.form.interval = this.interval_custom;

                    $axios.post("/api/sites", this.form)
                        .then(res => {
                            this.$toast.success('Site added successfully.')
                            this.$emit('success', res.data)
                            this.sites.push(res.data);

                            this.form.url = '';
                        })
                        .catch(err => {
                            this.handleErrors(err.response.data.errors)
                        })
                        .then(() => {
                            this.loading = false
                        })
                }
            },

            updateSite(site) {
                $axios.put("/api/sites/" + site.id, site)
                    .then(res => {
                        //TODO::vuex disaptch
                    })
                    .catch(err => {
                        this.handleErrors(err.response.data.errors)
                    })
            },

            removeSite(siteId) {
                this.$swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085D6',
                    cancelButtonColor: '#D33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        $axios.delete("/api/sites/" + siteId)
                            .then(_ => {
                                this.sites = this.sites.filter(item => item.id !== siteId)
                                this.$toast.success('Site removed successfully.')
                            })
                            .catch(err => {
                                this.handleErrors(err.response.data.errors)
                            })
                    }
                })
            },

            checkSite(siteId, key) {
                this.$set(this.loading_check_site, key, true)
                $axios.get("/api/checkSite/" + siteId)
                    .then(_ => {
                        this.getSites();
                    })
                    .catch(err => {
                        this.handleErrors(err.response.data.errors)
                    })
                    .then(() => {
                        this.$set(this.loading_check_site, key, false)
                    })
            }

        }
    }
</script>

<style scoped>

</style>
